/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */

.bmi-calculator-container {
    background-color: rgb(27, 26, 26);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Parent-Container{
    background-color: rgb(39, 37, 37);
    color: #ffffff;
}

.container{
    box-shadow: 0px 0px 15px 10px #090c0c33;
    background-color: rgb(28, 28, 28);
    width: 40%;
    margin: 30px 0;
}

.title{
    margin: 34px 0;
    text-align: center;
}

.label{
    font-size: 22px;
    padding-left: 30px;
    
}

.bmi-imput{
    width: 80%;
    height: 30px;
    margin-left: 33px;
    margin-top: 12px;

}

.bmi-buttons {
    display: flex;
    justify-content: center;
}

.bmi-buttons .bmi.btn {
   padding: 10px 20px;
   margin-right: 20px;
}

.bmi-field {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.bmi-field label {
    font-size: 1.2rem;
    margin-right: 15px;
}

.bmi-field imput {
    padding: 5px;
}

.bmi-result {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}